body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.me {
	color: blue;
}
#greeting {
	text-transform: uppercase;
	color: blue;
	font-size: 20px;
}
#sub {
	display: flex;
	color: red;
}


.favecolor {
	background-color: yellow;
	height: 70px;
	width: 200px;
	font-size: 20px;
	
}

.faveplace {
	background-color: yellow;
	height: 70px;
	width: 200px;
	font-size: 20px;
}
.faveritual {
	background-color: yellow;
	height: 70px;
	width: 200px;
	font-size: 20px;
}